.boton_encriptar {
    background: var(--color-blue-dark);
    border: none;
    border-radius: 12px;
    padding: 12px;
    width: 180px;
    color: var(--color-white);
    font-size: var(--fs-14);
    transition: all .3s ease;
}

.boton_encriptar:hover {
    background: var(--color-blue-light);
    color: var(--color-blue-dark);
    border: .5px solid var(--color-blue-dark);
}

.boton_desencriptar {
    background: var(--color-blue-light);
    border: .5px solid var(--color-blue-dark);
    border-radius: 12px;
    padding: 12px;
    width: 180px;
    color: var(--color-blue-dark);;
    font-size: var(--fs-14);
    transition: all .3s ease;
}

.boton_desencriptar:hover {
    background: var(--color-blue-dark);
    color: var(--color-white);
}

@media screen and (max-width: 480px) {
    .boton_encriptar {
        width: 160px;
    }
    .boton_desencriptar {
        width: 160px
    }
}

@media screen and (max-width: 320px) {
    .boton_encriptar {
        width: 140px;
    }
    .boton_desencriptar {
        width: 140px
    }
}

.boton_copiar_texto {
    background: var(--color-white);
    border: .5px solid var(--color-blue-dark);
    border-radius: 12px;
    padding: 12px;
    width: 150px;
    color: var(--color-blue-dark);
    font-size: var(--fs-14);
    display: none;
    transition: all .3s ease;
}

.boton_copiar_texto:hover {
    background: var(--color-blue-dark);
    color: var(--color-white);
}