@import url('navegacion.css');
@import url('botones.css');
@import url('rodapie.css');


/* VARIABLES CSS
-------------
Variables que serab reutilizadas en todo el proyecto */
:root {
    --color-blue-dark: #0A3871;
    --color-blue-light: #D8DFE8;
    --color-white: #fff;

    --fs-14: 14px;
    --fs-11: 11px;
}


/* ESTILOS GENERALES
-------------
Se aplicaran a todos los elementos de la página que no tengan un estilo propio, 
es decir, estilos que se repetiran en mas de un elemento de la página. */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #F3F5FC;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.contenedor {
    width: 90%;
   /*  max-width: 1200px; */ /* Este parametro se puede modificar de acuerdo a las necesidades del proyecto. */
    margin: 0 auto;
}

textarea {
    resize: none;
}

main {
    padding: 1.5rem 1.5rem;
}