@import url('navegacion.css');
@import url('botones.css');
@import url('rodapie.css');


/* VARIABLES CSS
-------------
Variables que serab reutilizadas en todo el proyecto */
:root {
    --color-blue-dark: #0A3871;
    --color-blue-light: #D8DFE8;
    --color-white: #fff;

    --fs-14: 14px;
    --fs-13: 13px;
    --fs-20: 20px;
}









/* ESTILOS GENERALES
-------------
Se aplicaran a todos los elementos de la página que no tengan un estilo propio, 
es decir, estilos que se repetiran en mas de un elemento de la página. */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #F3F5FC;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.contenedor {
    width: 90%;
   /*  max-width: 1200px; */ /* Este parametro se puede modificar de acuerdo a las necesidades del proyecto. */
    margin: 0 auto;
}

@media screen and (max-width: 480px) {
    .contenedor {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .contenedor {
        width: 100%;
    }
}

textarea {
    resize: none;
}









/* ESTILOS PARA EL CONTENIDO MAIN
-------------
Estilos que se aplicaran dentro del main de la pagina. */

.contenido-caja {
    -webkit-border-radius: 5px;
            border-radius: 5px;
    margin: 1.5rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
}

@media screen and (max-width: 768px) {
    .contenido-caja {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }
}

@media screen and (max-width: 480px) {
    .contenido-caja {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }
}

@media screen and (max-width: 320px) {
    .contenido-caja {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }
}

.formulario__input {
    width: 100%;
    padding: 1rem;
    border: none;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    font-size: var(--fs-14);
    height: 350px;
    margin-bottom: 1rem;
    background: #F3F5FC;
    font-size: 1rem;
}

.formulario__input:focus {
    outline: none;
}

.formulario__info {
    font-size: var(--fs-13);
}

.formulario__botones {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 1rem;
}

.informacion {
    background: var(--color-white);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    width: 400px;
    justify-self: flex-end;
}

@media screen and (max-width: 768px) {
    .informacion {
        margin-top: 1rem;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .informacion {
        margin-top: 1rem;
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .informacion {
        margin-top: 1rem;
        width: 100%;
    }
}

.img-munheco {
    width: 192px;
    height: 192px;
}

@media screen and (max-width: 768px) {
    .img-munheco {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .img-munheco {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .img-munheco {
        display: none;
    }
}

.informacion__info {
    margin-top: .5rem;
    text-align: center;
    font-size: var(--fs-20);
}

.informacion__leyenda {
    margin: .5rem;
    text-align: center;
    font-size: var(--fs-13);
}

.informacion__texto {
    width: 100%;
    border: none;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    font-size: var(--fs-14);
    margin-bottom: 1rem;
    display: none;
}

.informacion__texto:focus {
    outline: none;
}
